@import url(https://fonts.googleapis.com/css?family=Roboto:500);
body.preloader-site {
	overflow: hidden
}
.preloader {
	background: #fff;
	bottom: 0;
	height: 100vh;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1001
}
.load {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #fff;
}
.loader {
	position: relative;
    text-align: center;
    bottom: 10%;
}

.loading h1 {
	font-family: 'Roboto', sans-serif;
	position: relative;
    left: 1%;
	font-size: 1.250em;
	text-transform: uppercase;
	letter-spacing: .15em;
 /* overflow: hidden;
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 8s;*/
}

.loading{
	font-family: 'Roboto', sans-serif;
	position: relative;
    left: 0.5%;
	font-size: 1.250em;
	text-transform: uppercase;
	letter-spacing: 13px;
}
.loading span {
	font-family: 'Roboto', sans-serif;
  font-size: 50px;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loading span:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.loading span:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 10vw }
}

.jelexie-loading{
   -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
}


