@import url(https://fonts.googleapis.com/css?family=Roboto|Muli|Open+Sans);
html{
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}
body{
	height: 100%;
	width: 100%;
	color: #000000;
	font-family: 'Helvetica', Roboto, Sans-serif;
	font-size: 24px;
	line-height: 1.6em;
	background-color: #ffffff;
}
@font-face {
  font-family: 'Verdana';
  src: url('../../assets/fonts/Verdana/verdana.woff') format('woff'),
       url('../../assets/fonts/Verdana/verdana.ttf') format('truetype');
}
@font-face {
  font-family: 'Bago';
   src: url('../../assets/fonts/Bago/bago.eot');
  src: url("../../assets/fonts/Bago/bago.otf") format("opentype"),
       url('../../assets/fonts/Bago/bago.woff2') format('woff2'),
       url('../../assets/fonts/Bago/bago.woff') format('woff'), 
       url('../../assets/fonts/Bago/bago.ttf')  format('truetype'),
       url('../../assets/fonts/Bago/bago.svg') format('svg');
}
@font-face {
  font-family: 'Harabara';
   src: url('../../assets/fonts/Harabara/harabara.eot');
  src: url('../../assets/fonts/Harabara/harabara.otf') format("opentype"),
       url('../../assets/fonts/Harabara/harabara.woff2') format('woff2'),
       url('../../assets/fonts/Harabara/harabara.woff') format('woff'), 
       url('../../assets/fonts/Harabara/harabara.ttf')  format('truetype'),
       url('../../assets/fonts/Harabara/harabara.svg') format('svg');
}
@font-face {
  font-family: 'Helvetica';
   src: url('../../assets/fonts/Helvetica/helvetica.eot');
  src: url('../../assets/fonts/Helvetica/helvetica.otf') format("opentype"),
       url('../../assets/fonts/Helvetica/helvetica.woff2') format('woff2'),
       url('../../assets/fonts/Helvetica/helvetica.woff') format('woff'), 
       url('../../assets/fonts/Helvetica/helvetica.ttf')  format('truetype'),
       url('../../assets/fonts/Harabara/helvetica.svg') format('svg');
}
@font-face {
  font-family: 'Heavitas';
   src: url('../../assets/fonts/Heavitas/heavitas.eot');
  src: url('../../assets/fonts/Heavitas/heavitas.otf') format("opentype"),
       url('../../assets/fonts/Heavitas/heavitas.woff2') format('woff2'),
       url('../../assets/fonts/Heavitas/heavitas.woff') format('woff'), 
       url('../../assets/fonts/Heavitas/heavitas.ttf')  format('truetype'),
       url('../../assets/fonts/Heavitas/heavitas.svg') format('svg');
}
h1,h2,h3,h4,h5{
	font-family: 'Verdana', Inherit, Sans-serif;
  -webkit-transform: translateZ(0px);
}
p{
  -webkit-transform: translateZ(0px);
}
.nowrap{
	white-space: nowrap;
}
.main{
	padding-left: 0em !important;
	padding-right: 0em !important;
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-yellow{
	background-color: #fbdd17;
}
.bg-gray{
	background-color: #fafafa;
}
.bg-white{
  min-height: 100%;
}


/*PACE.js*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #b42927;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}



/* NAVVIGATION BAR */
#navbar{
  z-index: 999;
}
.navbar{
	font-size: 1.500em;
	font-family: 'Heavitas', Sans-serif;
	font-weight: lighter;
  text-transform: uppercase;
	/*letter-spacing: 1.5px;*/
	border-bottom: 4px solid #ffffff;/*#da251c;*/
}
@media screen and (max-width: 601px){
.navbar .navbar-collapse{
	z-index: 10;
	height: 150vh;
	left: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #fbdd17;
  transition: height 0.2s linear;
  font-size: 2rem;
}
.nav-link:hover{
  width: 80%;
  margin: auto;
} 
}
.navbar-brand .logo{
	height: 100%;
	width: 170px;
}
.navbar-nav{
	position: relative;
}
.navbar .navbar-toggler{
	border: 2px solid #4a4a4a;
}
.navbar .navbar-toggler .navbar-toggler-icon{
	color: #4a4a4a;
}
.navbar-nav .nav-item{
	margin: 13px 8px;
}
.nav-link{
	color: #000000;
}
.nav-link:hover{
	color: #ffffff;
	background-color: #b42927;
	border-radius: 3px;
}
.dropdown-toggle:focus{
	color: #ffffff;
	background-color: #b42927;
}

.dropdown .menu-dropdown{
	font-size: 1rem;
	top: 35.5px;
    left: 0px;
    background-color: #b42927;
    border-radius: 3px;
    border: none;
}
@media screen and (max-width: 991px){
	.dropdown .menu-dropdown{
		position: relative !important;
		top: -8px;
	}
}
.dropdown .menu-dropdown .dropdown-item{
	color: #ffffff;
}
.dropdown .menu-dropdown .dropdown-item:hover{
	background-color: #b42927;
	color: #fbdd17;
	text-decoration: underline;
	text-decoration-color: #fbdd17;
}

/* BREADCRUMBS */
.breadcrumb{
  background-color: #fafafa!important;
  padding: 1rem 1rem !important;
  font-family: inherit, Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}
.breadcrumb .breadcrumb-item a{
  color: #b42927;
}
.breadcrumb-item.active {
    color: #000000 !important;
}
/*.breadcrumb-item+.breadcrumb-item::before {
    color: #000000 !important;
    content: ">" !important;
}*/

/*PRODUCT PAGE*/
#product-page{
  min-height: 100%;
  opacity: 0;
}
.categories{
  text-transform: uppercase;
  font-family: "Heavitas",Sans-serif;
}
.category{
  cursor: pointer;
  background-color: #fbdd17;
  color: #000000;
  padding: 0px 2px;
  -webkit-transform: translateZ(0px);


  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}
.category h5{
  font-size: 1.5rem;
}
.category:hover{
  background-color: #b42927;
  color: #ffffff;
}
.category a:focus{
  background-color: #b42927;
  color: #ffffff;
}
/*.category h4:after{
  content: '|';
  color: #4a4a4a;
  position: relative;
  left: 10px;
}*/
#category-view{
  min-height: 130vh;
}
#category-view h1{
  font-family: 'Heavitas', Sans-serif;
  color: #000000;
}
.product-pic{
  -moz-box-shadow: 3px 3px 5px #c1cbce;
  -webkit-box-shadow: 3px 3px 5px #c1cbce;
  box-shadow: 3px 3px 5px #c1cbce;
}
.product-description{
  color: #ffffff;
  text-align: left;
 /* border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  border-left:20px solid #ffffff;
  border-right:20px solid #ffffff;*/
  width: 100%;
  border-radius: 10px;
}
.drop-shadow{
  -moz-box-shadow: 3px 3px 5px #c1cbce;
  -webkit-box-shadow: 3px 3px 5px #c1cbce;
  box-shadow: 3px 3px 5px #c1cbce;
  border-radius: 10px;
}
.description{
}
.heading{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'Heavitas', Sans-serif;
  color: #b42927;
  padding: 1px 15px;
  background-color: #fbdd17;
}
.paragraph{
  background-color: #b42927;
  font-family: 'Bago', Sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 20px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.comment-section{
  font-size: 1.2em;
  font-family: inherit;
  color: #000000;
}
form#comment-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  background: #fff;
  border-color: #2196f3
}
form#comment-form button:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  background: #fff;
  border-color: #2196f3;
}
form .form-control[readonly]:focus {
  -webkit-box-shadow: 0 1px 2px #fff !important;
  box-shadow: 0 1px 2px #fff !important;
  background: #fff !important;
  border:1px solid #ced4da !important;
  background-color: #e9ecef !important;
}
form .form-control:disabled, .form-control[readonly] {
    margin-bottom: 5px !important;
}
/* FOOTER */
footer{
	font-family: 'Verdana', Roboto, Sans-serif;
	color: #ffffff;
}
footer .footer{
	background-color: #b42927;
}
footer h1{
	text-transform: uppercase;
	color: #fbdd17;
	font-size: 1.600em; 
}
footer p{
	font-size: 1.063em;
}
footer .fa-4x{
  font-size: 5.5em;
}
@media screen and (max-width: 500px){
 footer h1{
  font-size: 1.500em; 
}
footer p{
  font-size: 1.250em;
}
footer .contact-info{
  line-height: 2rem;
}
footer .fa-4x{
  font-size: 5em;
}
}
footer a{
	color: #ffffff;
}
footer .fa-instagram{
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
footer .fa-instagram:hover{
	background: -webkit-linear-gradient(#4c68d7,#8a3ab9, #cd486b, #bc2a8d, #e95950, #fbad50, #fccc63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .adjust{
	padding-left: 0px;
}
footer .copyright{
	font-size: 90%;
	text-transform: uppercase;
	text-align: center;
	background-color: #b5302e;
}