/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {
.navbar .navbar-brand {

}
.branches-heading,.branch-text{
	text-align: left;
}
.category h4{
	font-size: 4.5vw;
}
.category h5{
	font-size: 4.5vw;
}
footer h1{
  font-size: 1.500em; 
}
footer p{
  font-size: 1.125em;
}
footer .contact-info{
  line-height: 2rem;
}
footer .fa-4x{
  font-size: 7em;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 800px) {
.navbar .navbar-collapse{
	z-index: 10;
	height: 150vh;
	left: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #fbdd17;
  transition: height 0.2s linear;
  font-size: 2rem;
}
.nav-link:hover{
	width: 35%;
	margin: auto;
}
.dropdown .menu-dropdown {
    font-size: 1.8rem;
}
.about__us {
    font-size: 18px;
}
.about-p-text {
	font-size: 15px;
}
.about__jelexie {
    font-size: 1.125em;
}
.branches-heading {
 font-size: 15px;
}
h5#about-heading{
	font-size: 15px;
}
h5#branches-heading{
	font-size: 15px;
}
}
footer h1{
  font-size: 1.250em; 
}
footer p{
  font-size: 0.938em;
}
footer .contact-info{
  line-height: 2rem;
}
footer .fa-4x{
  font-size: 5em;
}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/*.navbar{
	font-size: 0.875em;
}*/
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
footer .adjust{
	padding-left: 3.5rem
}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
.navbar{
	font-size: 1.188em;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
 footer .adjust{
	padding-left: 3.5rem
}
}
@media only screen (min-device-width : 801px) and (max-width: 1024px){
.about__us {
    font-size: 1em;
}
.about__jelexie{
  font-size: 1.4em;
}
footer .adjust{
	padding-left: 5.5em
}
}
@media only screen and (max-width: 500px){
footer .adjust{
	padding-left: 15px;
}
}
@media only screen and (min-width: 501px){
footer .adjust{
	padding-left: 3.5em;
}
}
/* Desktops and laptops ----------- */
@media (min-width: 992px){
.navbar {
    font-size: 1.125em;
}
.about-wrapper{
  padding: 15px 25px 20px 35px;
}
.employees{
	background-position: 50% 125%;
}
footer .adjust{
	padding-left: 3em;
}
.product-description{
	width: 80%;
}
.about__us {
    font-size: 1.3em;
}
}
@media only screen  and (min-width : 1224px) {
.navbar{
	font-size: 1.125em;
}
.navbar-brand .logo{
	height: 100%;
	width: 140px;
}
footer .container-fluid{
 	padding-left: 4.5rem!important;
 }
 footer .adjust{
	padding-left: 5.5rem
}
footer h1{
  font-size: 1.5em; 
}
footer p{
  font-size: 1.250em;
}
}
@media only screen and (min-width: 1300px) {
.main{
	padding-left: 10rem !important;
	padding-right: 10rem !important;
}
footer .adjust{
	padding-left: 5rem
}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1400px) {
.navbar{
		font-size: 1.250em;
}
.employees{
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: 50% 125%;
}
.about-p-text{
  font-size: 1.313em;
  text-align: justify;
  text-indent: 50px;
}
.about__jelexie{
  font-size: 1.438em;
}
}
}
@media only screen  and (min-width : 1800px) {
	.employees{
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: 50% 1500%;
}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

