/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {
.navbar .navbar-brand {
    margin-right: 1.5rem;
}
.branches-heading,.branch-text{
	text-align: left;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 800px) {
.navbar .navbar-collapse{
	z-index: 10;
	height: 150vh;
	left: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #fff500;
  transition: height 0.2s linear;
  font-size: 2rem;
}
.nav-link:hover{
	width: 33%;
	margin: auto;
}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/*.navbar{
	font-size: 0.875em;
}*/
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
footer .adjust{
	padding-left: 3.5rem
}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
.navbar{
	font-size: 1.188em;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
 footer .adjust{
	padding-left: 3.5rem
}
}
@media only screen and (max-width: 1024px){
footer .adjust{
	padding-left: 5.5em
}
}
@media only screen and (max-width: 500px){
footer .adjust{
	padding-left: 15px;
}
}
@media only screen and (min-width: 501px){
footer .adjust{
	padding-left: 3.5em;
}
}
/* Desktops and laptops ----------- */
@media (min-width: 992px){
.navbar {
    font-size: 1.125em;
}
.employees{
	background-position: 50% 140%;
}
footer .adjust{
	padding-left: 2em;
}
}
@media only screen  and (min-width : 1224px) {
.navbar{
	font-size: 1.125em;
}
.navbar-brand .logo{
	height: 100%;
	width: 120px;
}
footer .container-fluid{
 	padding-left: 4.5rem!important;
 }
 footer .adjust{
	padding-left: 5.5rem
}
footer h1{
	text-transform: uppercase;
	color: #fff500;
	font-size: 1.500em;
}
footer p{
	font-size: 1em;
}
}
@media only screen and (min-width: 1300px) {
.main{
	padding-left: 10rem !important;
	padding-right: 10rem !important;
}
footer .adjust{
	padding-left: 5rem
}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1400px) {
.navbar{
		font-size: 1.250em;
}
.employees{
  background-image: url(../../assets/img/employees.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: 50% 140%;
}
}
@media only screen  and (min-width : 1824px) {
	
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

