@import url(https://fonts.googleapis.com/css?family=Roboto|Open+Sans);
html{
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}
body{
	height: 100%;
	width: 100%;
	color: #000000;
	font-family: 'Verdana', Roboto, San-serif;
	font-size: 24px;
	line-height: 1.6em;
	background-color: #ffffff;
}
@font-face {
  font-family: 'Verdana';
  src: url('assets/fonts/Verdana.woff') format('woff'),
       url('assets/fonts/Verdana.tff') format('truetype');
}
@font-face {
  font-family: 'Harabara';
  src: url('assets/fonts/Harabara.tff') format('truetype');
}
h1{
	font-family: 'Verdana', Roboto, San-serif;
}
.nowrap{
	white-space: nowrap;
}
.main{
	padding-left: 0em !important;
	padding-right: 0em !important;
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-yellow{
	background-color: #fff500;
}
.bg-gray{
	background-color: #fafafa;
}



/* NAVVIGATION BAR */
.navbar{
	font-size: 1.500em;
	font-family: 'Harabara', Arial, San-serif;
	font-weight: 700;
	letter-spacing: 1.5px;
	border-bottom: 4px solid #ffffff;/*#da251c;*/
}
@media screen and (max-width: 601px){
.navbar .navbar-collapse{
	z-index: 10;
	height: 150vh;
	left: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #fff500;
  transition: height 0.2s linear;
  font-size: 2rem;
}
.nav-link:hover{
  width: 60%;
  margin: auto;
} 
}
.navbar .navbar-brand{
	margin-right: 16rem;
}
.navbar-brand .logo{
	height: 100%;
	width: 130px;
}
.navbar-nav{
	position: relative;
}
.navbar .navbar-toggler{
	border: 2px solid #4a4a4a;
}
.navbar .navbar-toggler .navbar-toggler-icon{
	color: #4a4a4a;
}
.navbar-nav .nav-item{
	margin: 13px 8px;
}
.nav-link{
	color: #000000;
}
.nav-link:hover{
	color: #ffffff;
	background-color: #da251c;
	border-radius: 3px;
}
.dropdown-toggle:focus{
	color: #ffffff;
	background-color: #da251c;
}

.dropdown .menu-dropdown{
	font-size: 1rem;
	top: 35px;
    left: 0px;
    background-color: #da251c;
    border-radius: 3px;
    border: none;
}
@media screen and (max-width: 991px){
	.dropdown .menu-dropdown{
		position: relative !important;
		top: -8px;
	}
}
.dropdown .menu-dropdown .dropdown-item{
	color: #ffffff;
}
.dropdown .menu-dropdown .dropdown-item:hover{
	background-color: #da251c;
	color: #fff500;
	text-decoration: underline;
	text-decoration-color: #fff500;
}

/* ABOUT SECTION */
.about-section{
	z-index: 2;
}
.about-section h1{
  color: #da251c;
}
.about-section p{
  font-size: 1.375em;
}
.about-heading, .about-description, .read-more{
  opacity: 0;
}
.read-more a{
	color: #000000;
  outline: 2px solid #000000;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.read-more a:hover{
	text-decoration: none;
  color: #ffffff;
  outline: 2px solid #ffffff;
  background-color: #da251c;
}

/*FB-PLUGIN*/
.fb-page{
  width: 100%;
  margin: auto;
}


/*CAROUSEL*/
.carousel{
  background: linear-gradient(#fff500, #ffffff);
}
.carousel-indicators li{
  background-color: rgba(0, 140, 255, 0.27)!important
}
.carousel-indicators .active {
    background-color: #0093dd!important;
}
#carousel .carousel-inner{

}
.carousel h1{
  letter-spacing: 2px;
}
.carousel p{
  font-weight: 500;
  color: #000000;
  font-size: 1em;
  letter-spacing: 1px;
}
.carousel .btn-custom{
  border: 1px solid #da251c;
  padding: 10px;
  color: #da251c;
}
.carousel .btn-custom:hover{
  border: 1px solid #da251c;
  background-color: #da251c;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}
.employees{

}
.ads .carousel{
  background: linear-gradient(#000000, #000000);
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}


/* FOOTER */
footer{
	font-family: 'Verdana', Roboto, San-serif;
	color: #ffffff;
}
footer .footer{
	border-top: 3px solid #0093dd;
	background-color: #da251c;
}
footer h1{
	text-transform: uppercase;
	color: #fff500;
	font-size: 1.250em;
}
footer p{
	font-size: 0.938em;
}
footer a{
	color: #ffffff;
}
footer .fa-instagram{
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
footer .fa-instagram:hover{
	background: -webkit-linear-gradient(#4c68d7,#8a3ab9, #cd486b, #bc2a8d, #e95950, #fbad50, #fccc63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .adjust{
	padding-left: 0px;
}
footer .copyright{
	font-size: 90%;
	text-transform: uppercase;
	text-align: center;
	background-color: #ff2318;
}