@import url(https://fonts.googleapis.com/css?family=Roboto|Muli|Open+Sans);
html{
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}
body{
	height: 100%;
	width: 100%;
	color: #000000;
	font-family: 'Helvetica', Roboto, Sans-serif;
	font-size: 24px;
	line-height: 1.6em;
	background-color: #ffffff;
}
@font-face {
  font-family: 'Verdana';
  src: url('../../assets/fonts/Verdana/verdana.woff') format('woff'),
       url('../../assets/fonts/Verdana/verdana.ttf') format('truetype');
}
@font-face {
  font-family: 'Bago';
   src: url('../../assets/fonts/Bago/bago.eot');
  src: url("../../assets/fonts/Bago/bago.otf") format("opentype"),
       url('../../assets/fonts/Bago/bago.woff2') format('woff2'),
       url('../../assets/fonts/Bago/bago.woff') format('woff'), 
       url('../../assets/fonts/Bago/bago.ttf')  format('truetype'),
       url('../../assets/fonts/Bago/bago.svg') format('svg');
}
@font-face {
  font-family: 'Harabara';
   src: url('../../assets/fonts/Harabara/harabara.eot');
  src: url('../../assets/fonts/Harabara/harabara.otf') format("opentype"),
       url('../../assets/fonts/Harabara/harabara.woff2') format('woff2'),
       url('../../assets/fonts/Harabara/harabara.woff') format('woff'), 
       url('../../assets/fonts/Harabara/harabara.ttf')  format('truetype'),
       url('../../assets/fonts/Harabara/harabara.svg') format('svg');
}
@font-face {
  font-family: 'Helvetica';
   src: url('../../assets/fonts/Helvetica/helvetica.eot');
  src: url('../../assets/fonts/Helvetica/helvetica.otf') format("opentype"),
       url('../../assets/fonts/Helvetica/helvetica.woff2') format('woff2'),
       url('../../assets/fonts/Helvetica/helvetica.woff') format('woff'), 
       url('../../assets/fonts/Helvetica/helvetica.ttf')  format('truetype'),
       url('../../assets/fonts/Harabara/helvetica.svg') format('svg');
}
@font-face {
  font-family: 'Heavitas';
   src: url('../../assets/fonts/Heavitas/heavitas.eot');
  src: url('../../assets/fonts/Heavitas/heavitas.otf') format("opentype"),
       url('../../assets/fonts/Heavitas/heavitas.woff2') format('woff2'),
       url('../../assets/fonts/Heavitas/heavitas.woff') format('woff'), 
       url('../../assets/fonts/Heavitas/heavitas.ttf')  format('truetype'),
       url('../../assets/fonts/Heavitas/heavitas.svg') format('svg');
}
h1{
	font-family: 'Verdana', Inherit, Sans-serif;
  -webkit-transform: translateZ(0px);
}
p{
  -webkit-transform: translateZ(0px);
}
.nowrap{
	white-space: nowrap;
}
.main{
	padding-left: 0em !important;
	padding-right: 0em !important;
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-yellow{
	background-color: #fbdd17;
}
.bg-gray{
	background-color: #fafafa;
}
.bg-red{
  background-color:#b42927; 
}
.bg-red-2{
  background-color:#bb2323; 
}


/*PACE.js*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #b42927;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}



/* NAVVIGATION BAR */
#navbar{
  z-index: 999;
}
.navbar{
	font-size: 1.500em;
	font-family: 'Heavitas', Sans-serif;
	font-weight: lighter;
  text-transform: uppercase;
	/*letter-spacing: 1.5px;*/
	border-bottom: 4px solid #ffffff;/*#da251c;*/
}
@media screen and (max-width: 601px){
.navbar .navbar-collapse{
	z-index: 10;
	height: 150vh;
	left: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #fbdd17;
  transition: height 0.2s linear;
  font-size: 2rem;
}
.nav-link:hover{
  width: 80%;
  margin: auto;
} 
}
.navbar-brand .logo{
	height: 100%;
	width: 170px;
}
.navbar-nav{
	position: relative;
}
.navbar .navbar-toggler{
	border: 2px solid #4a4a4a;
}
.navbar .navbar-toggler .navbar-toggler-icon{
	color: #4a4a4a;
}
.navbar-nav .nav-item{
	margin: 13px 8px;
}
.nav-link{
	color: #b42927;
}
.nav-link:hover{
	color: #ffffff;
	background-color: #b42927;
	border-radius: 3px;
}
.dropdown-toggle:focus{
	color: #ffffff;
	background-color: #b42927;
}

.dropdown .menu-dropdown{
	font-size: 1rem;
	top: 35.5px;
    left: 0px;
    background-color: #b42927;
    border-radius: 3px;
    border: none;
}
@media screen and (max-width: 991px){
	.dropdown .menu-dropdown{
		position: relative !important;
		top: -8px;
	}
}
.dropdown .menu-dropdown .dropdown-item{
	color: #ffffff;
}
.dropdown .menu-dropdown .dropdown-item:hover{
	background-color: #b42927;
	color: #fbdd17;
	text-decoration: underline;
	text-decoration-color: #fbdd17;
}
/*.navbar .navbar-toggler:hover{
 background-color: #d8bc00;
}*/

/* BREADCRUMBS */
.breadcrumb{
  background-color: #fafafa!important;
  padding: 1rem 1rem !important;
  font-family: inherit, Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.breadcrumb .breadcrumb-item a{
  color: #b42927;
}
.breadcrumb-item.active {
    color: #000000 !important;
}
/*.breadcrumb-item+.breadcrumb-item::before {
    color: #000000 !important;
    content: ">" !important;
}*/

/* ABOUT SECTION */
.about-section{
	z-index: 2;
}
#about-home h1{
  font-family: 'Heavitas', Sans-serif;
  font-weight: normal;
  color: #b42927;
}
#about-home p{
  font-family: 'Bago', Sans-serif;
  font-size: 1.500em;
}
@media only screen and (min-width: 1224px){
  #about-home h1{
    font-size: 2.5rem;
  }
  #about-home p{
    font-size: 1.7em;
  }
}
.about-heading, .about-description{
  opacity: 0;
}
.read-more a{
	color: #000000;
  outline: 2px solid #000000;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.read-more a:hover{
	text-decoration: none;
  color: #ffffff;
  outline: 2px solid #b42927;
  background-color: #b42927;
}
.about-wrapper{
  -moz-box-shadow: 5px 3px 10px 0px #890000;
  -webkit-box-shadow: 5px 3px 10px 0px #890000;
  box-shadow: 5px 3px 10px 0px #890000;
  border-radius: 10px;
  padding: 15px 15px 20px 20px;
  background-color:#ffffff;
}
/*FB-PLUGIN*/
.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
    margin: auto !important;
}
.fb-view{
  height: 100%;
}
.fb-loading{
  height: 100%;
   background-image: url(../../assets/img/fb-loading.gif);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    /*background-color: #dfdfdf;*/
}


/*CAROUSEL*/
.home-info .carousel{
  background: linear-gradient(#fbdd17, #ffffff);
}
.carousel-indicators li{
  background-color: rgba(0, 140, 255, 0.27)!important
}
.carousel-indicators .active {
    background-color: #0093dd!important;
}
#carousel .carousel-inner{
  height: 35em;
}
.carousel h1{
  letter-spacing: 2px;
  color: #b42927;
}
.carousel p{
  font-weight: 500;
  color: #000000;
  font-size: 1em;
  letter-spacing: 1px;
}
.carousel .btn-custom{
  border: 1px solid #b42927;
  padding: 10px;
  color: #b42927;
}
.carousel .btn-custom:hover{
  border: 1px solid #b42927;
  background-color: #b42927;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}
.employees{
  background-image: url(../../assets/img/employees.min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: 50% 110%;
}
.ads .carousel{
  background: linear-gradient(#000000, #000000);
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#ads img.img-fluid{
  background-color: #af3b3a;
}
.carousel-inner{
  -moz-box-shadow: 5px 3px 10px 0px #890000;
  -webkit-box-shadow: 5px 3px 10px 0px #890000;
  box-shadow: 5px 3px 10px 0px #890000;
}


/* ABOUT PAGE */
#about-page{
  font-family: 'Bago', Sans-serif;
}
#about-heading{
  font-family: 'Heavitas', Sans-serif; 
  color: #b42927 !important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.about-p-text{
  font-size: 1.3em;
  text-align: justify;
  text-indent: 50px;
}
.about__us{
  font-size: 1.375em;
}
.about__jelexie{
  font-size: 1.45em;
}
.branches-heading{
 font-family: 'Heavitas', Sans-serif; 
  color: #b42927 !important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: right; 
}
.branch-text{
  text-align: right;
}
#about-page .about-logo{
  height: auto;
  max-width: 80%;
}
.tagline{
  font-family: "Bago", Sans-serif;
}
.breadcrumb,.aboutUs,.Jelexie,.ourProducts,.Branches,.thePeople,.theCommunity{
  opacity: 0;
}

/*CONTACT PAGE*/
#contact-page{
  opacity: 0;
}
#contact-page h3{
  color: #b42927;
  font-family: 'Heavitas', Sans-serif;
  font-weight: lighter;
}
.form {
  -moz-box-shadow: 0px 0px 5px #c1cbce;
  -webkit-box-shadow: 0px 0px 5px #c1cbce;
  box-shadow: 0px 0px 5px #c1cbce;
  border-radius: 6px;
}
.form .contact-heading{
  padding: 15px 10px 10px 38px;
}
form#contact-form{
  padding: 0px 40px 20px 40px;
}
form#contact-form .form-group label {
  text-align: left !important;
  display: block;
  letter-spacing: 1px;
  font-family: 'Bago', Sans-serif;
  font-size: 20px;
}
form#contact-form input,
form#contact-form select,
form#contact-form textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  background: #fefefe;
  color: #000;
}
form#contact-form input,
form#contact-form select {
  height: 40px
}
form#contact-form button {
  border-radius: 4px;
  height: 40px;
  text-transform: none;
  font-size: 16px;
  font-weight: 700;
  background-color: #b42927;
  border-color: #b42927;
}
#sendMessageBtn:hover,
#sendMessageBtn:focus {
  background-color: #aaaaaa;
  border-color: #aaaaaa;
  outline:none !important;
}
form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  background: #fff;
  border-color: #2196f3;
}
.alert {
    margin: auto;
    display: block;
    top: -170px;
   /* left: 8%;*/
    width: 273px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    padding: 0.75rem 15px !important;
    z-index: 500;
}
#success{
  position: absolute;
}
.alert-dismissible .close {
    top: -10px !important;
    right: -10px !important;
}
.map{
    width: 100%;
    height: 25em;
      background-image: url(../../assets/img/loader.gif);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #fafafa;
    -moz-box-shadow: 0px 0px 5px 1px #c1cbce;
    -webkit-box-shadow: 0px 0px 5px 1px #c1cbce;
    box-shadow: 0px 0px 5px 1px #c1cbce;
}
#contact-page .branch-heading{
  text-align: left;
}
@media only screen animation-direction:  (max-width: 500px){
#contact-page .branch-heading{
  text-align: center;
}
}
.branch-locations{
  background-color: #fafafa;
  width: 100%;
  overflow-y: scroll;
  webkit-overflow-scrolling: touch;
  height: 25em;
  border: 2px solid #e2e2e2;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.branch-locations .list-group-item{
  padding: 10px 20px;
}
.branch-locations h1{
    font-size: inherit;
    font-family: 'Heavitas',sans-serif;
    letter-spacing: 1px;
    color: #b42927;
    margin-bottom: 5px;
}

/* FOOTER */
footer{
	font-family: 'Bago', Roboto, Sans-serif;
	color: #000000;
}
footer .footer{
	background-color: #fbdd17;
}
footer h1{
  font-family: 'Heavitas', sans-serif;
  /*font-weight: bold;*/
	text-transform: uppercase;
	color: #b42927;
	font-size: 1.600em; 
}
footer p{
	font-size: 1.063em;
}
footer .fa-4x{
  font-size: 5.5em;
}
@media screen and (max-width: 500px){
 footer h1{
  font-size: 1.500em; 
}
footer p{
  font-size: 1.250em;
}
footer .contact-info{
  line-height: 2rem;
}
footer .fa-4x{
  font-size: 5em;
}
}
footer a{
	color: #000000;
}
footer .fa-instagram{
  background: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
footer .fa-instagram:hover{
	background: -webkit-linear-gradient(#4c68d7,#8a3ab9, #cd486b, #bc2a8d, #e95950, #fbad50, #fccc63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .adjust{
	padding-left: 0px;
}
footer .copyright{
  font-family: 'Verdana',Sans-serif;
	font-size: 90%;
	text-transform: uppercase;
	text-align: center;
	background-color: #f6d600;
}