@import url(https://fonts.googleapis.com/css?family=Roboto|Muli|Open+Sans);
html{
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}
body{
	height: 100%;
	width: 100%;
	color: #000000;
	font-family: 'Helvetica', Roboto, Sans-serif;
	font-size: 24px;
	line-height: 1.6em;
	background-color: #ffffff;
}
@font-face {
  font-family: 'Verdana';
  src: url('../../assets/fonts/Verdana/verdana.woff') format('woff'),
       url('../../assets/fonts/Verdana/verdana.ttf') format('truetype');
}
@font-face {
  font-family: 'Bago';
   src: url('../../assets/fonts/Bago/bago.eot');
  src: url("../../assets/fonts/Bago/bago.otf") format("opentype"),
       url('../../assets/fonts/Bago/bago.woff2') format('woff2'),
       url('../../assets/fonts/Bago/bago.woff') format('woff'), 
       url('../../assets/fonts/Bago/bago.ttf')  format('truetype'),
       url('../../assets/fonts/Bago/bago.svg') format('svg');
}
@font-face {
  font-family: 'Harabara';
   src: url('../../assets/fonts/Harabara/harabara.eot');
  src: url('../../assets/fonts/Harabara/harabara.otf') format("opentype"),
       url('../../assets/fonts/Harabara/harabara.woff2') format('woff2'),
       url('../../assets/fonts/Harabara/harabara.woff') format('woff'), 
       url('../../assets/fonts/Harabara/harabara.ttf')  format('truetype'),
       url('../../assets/fonts/Harabara/harabara.svg') format('svg');
}
@font-face {
  font-family: 'Helvetica';
   src: url('../../assets/fonts/Helvetica/helvetica.eot');
  src: url('../../assets/fonts/Helvetica/helvetica.otf') format("opentype"),
       url('../../assets/fonts/Helvetica/helvetica.woff2') format('woff2'),
       url('../../assets/fonts/Helvetica/helvetica.woff') format('woff'), 
       url('../../assets/fonts/Helvetica/helvetica.ttf')  format('truetype'),
       url('../../assets/fonts/Harabara/helvetica.svg') format('svg');
}
@font-face {
  font-family: 'Heavitas';
   src: url('../../assets/fonts/Heavitas/heavitas.eot');
  src: url('../../assets/fonts/Heavitas/heavitas.otf') format("opentype"),
       url('../../assets/fonts/Heavitas/heavitas.woff2') format('woff2'),
       url('../../assets/fonts/Heavitas/heavitas.woff') format('woff'), 
       url('../../assets/fonts/Heavitas/heavitas.ttf')  format('truetype'),
       url('../../assets/fonts/Heavitas/heavitas.svg') format('svg');
}
h1{
	font-family: 'Verdana', Inherit, Sans-serif;
  -webkit-transform: translateZ(0px);
}
p{
  -webkit-transform: translateZ(0px);
}
.nowrap{
	white-space: nowrap;
}
.main{
	padding-left: 0em !important;
	padding-right: 0em !important;
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-yellow{
	background-color: #fbdd17;
}
.bg-gray{
	background-color: #fafafa;
}


/*PACE.js*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #b42927;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}



/* NAVVIGATION BAR */
#navbar{
  z-index: 999;
}
.navbar{
	font-size: 1.500em;
	font-family: 'Heavitas', Sans-serif;
	font-weight: lighter;
  text-transform: uppercase;
	/*letter-spacing: 1.5px;*/
	border-bottom: 4px solid #ffffff;/*#da251c;*/
}
@media screen and (max-width: 601px){
.navbar .navbar-collapse{
	z-index: 10;
	height: 150vh;
	left: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #fbdd17;
  transition: height 0.2s linear;
  font-size: 2rem;
}
.nav-link:hover{
  width: 80%;
  margin: auto;
} 
}
.navbar-brand .logo{
	height: 100%;
	width: 170px;
}
.navbar-nav{
	position: relative;
}
.navbar .navbar-toggler{
	border: 2px solid #4a4a4a;
}
.navbar .navbar-toggler .navbar-toggler-icon{
	color: #4a4a4a;
}
.navbar-nav .nav-item{
	margin: 13px 8px;
}
.nav-link{
	color: #000000;
}
.nav-link:hover{
	color: #ffffff;
	background-color: #b42927;
	border-radius: 3px;
}
.dropdown-toggle:focus{
	color: #ffffff;
	background-color: #b42927;
}

.dropdown .menu-dropdown{
	font-size: 1rem;
	top: 35.5px;
    left: 0px;
    background-color: #b42927;
    border-radius: 3px;
    border: none;
}
@media screen and (max-width: 991px){
	.dropdown .menu-dropdown{
		position: relative !important;
		top: -8px;
	}
}
.dropdown .menu-dropdown .dropdown-item{
	color: #ffffff;
}
.dropdown .menu-dropdown .dropdown-item:hover{
	background-color: #b42927;
	color: #fbdd17;
	text-decoration: underline;
	text-decoration-color: #fbdd17;
}

/* BREADCRUMBS */
.breadcrumb{
  background-color: #fafafa!important;
  padding: 1rem 1rem !important;
  font-family: inherit, Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.breadcrumb .breadcrumb-item a{
  color: #b42927;
}
.breadcrumb-item.active {
    color: #000000 !important;
}
/*.breadcrumb-item+.breadcrumb-item::before {
    color: #000000 !important;
    content: ">" !important;
}*/

/* ABOUT SECTION */
.about-section{
	z-index: 2;
}
#about-home h1{
  font-family: 'Heavitas', Sans-serif;
  font-weight: normal;
  color: #b42927;
}
#about-home p{
  font-family: 'Bago', Sans-serif;
  font-size: 1.500em;
}
.about-heading, .about-description{
  opacity: 0;
}
.read-more a{
	color: #000000;
  outline: 2px solid #000000;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.read-more a:hover{
	text-decoration: none;
  color: #ffffff;
  outline: 2px solid #ffffff;
  background-color: #b42927;
}

/*FB-PLUGIN*/
.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
    margin: auto !important;
}
.fb-loading{
  height: 100%;
   background-image: url(../../assets/img/fb-loading.gif);
    background-repeat: no-repeat;
    background-position: 50% 30%;
/*    background-color: #dfdfdf;*/
}


/*CAROUSEL*/
.home-info .carousel{
  background: linear-gradient(#fbdd17, #ffffff);
}
.carousel-indicators li{
  background-color: rgba(0, 140, 255, 0.27)!important
}
.carousel-indicators .active {
    background-color: #0093dd!important;
}
#carousel .carousel-inner{
  height: 35em;
}
.carousel h1{
  letter-spacing: 2px;
  color: #b42927;
}
.carousel p{
  font-weight: 500;
  color: #000000;
  font-size: 1em;
  letter-spacing: 1px;
}
.carousel .btn-custom{
  border: 1px solid #b42927;
  padding: 10px;
  color: #b42927;
}
.carousel .btn-custom:hover{
  border: 1px solid #b42927;
  background-color: #b42927;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}
.employees{
  background-image: url(../../assets/img/employees.min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: 50% 110%;
}
.ads .carousel{
  background: linear-gradient(#000000, #000000);
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#ads img.img-fluid{
  background-color: #fafafa;
}


/* ABOUT PAGE */
#about-page{
  font-family: 'Bago', Sans-serif;
}
#about-heading{
  font-family: 'Heavitas', Sans-serif; 
  color: #b42927 !important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.about-p-text{
  font-size: 1.125em;
  text-align: justify;
  text-indent: 50px;
}
.branches-heading{
 font-family: 'Heavitas', Sans-serif; 
  color: #b42927 !important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: right; 
}
.branch-text{
  text-align: right;
}
#about-page .about-logo{
  height: auto;
  max-width: 80%;
}
.tagline{
  font-family: "Bago", Sans-serif;
}
.breadcrumb,.aboutUs,.Jelexie,.ourProducts,.Branches,.thePeople,.theCommunity{
  opacity: 0;
}

/*CONTACT PAGE*/
#contact-page h3{
  color: #b42927;
}

/* FOOTER */
footer{
	font-family: 'Verdana', Roboto, Sans-serif;
	color: #ffffff;
}
footer .footer{
	background-color: #b42927;
}
footer h1{
	text-transform: uppercase;
	color: #fbdd17;
	font-size: 1.600em; 
}
footer p{
	font-size: 1.063em;
}
footer .fa-4x{
  font-size: 5.5em;
}
@media screen and (max-width: 500px){
 footer h1{
  font-size: 1.500em; 
}
footer p{
  font-size: 1.250em;
}
footer .contact-info{
  line-height: 2rem;
}
footer .fa-4x{
  font-size: 5em;
}
}
footer a{
	color: #ffffff;
}
footer .fa-instagram{
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
footer .fa-instagram:hover{
	background: -webkit-linear-gradient(#4c68d7,#8a3ab9, #cd486b, #bc2a8d, #e95950, #fbad50, #fccc63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .adjust{
	padding-left: 0px;
}
footer .copyright{
	font-size: 90%;
	text-transform: uppercase;
	text-align: center;
	background-color: #b5302e;
}